<div class="container">
  <h1>
    Courtney's Project Euler
  </h1>
  <p>My goal for this project is to solve as many of the problems from <a href="https://projecteuler.net">Project Euler</a> as I can, while focusing on clean and efficient code. 
    I also plan to spruce up the UI as I go, and to allow for at least one user-changeable variable per problem (called n in my code and notes). 
    For example, the standard "n" for Problem 1 is 1000, but I want my solution to work no matter what the arbitrary upper limit is.
    Therefore, my solutions prioritize flexibility over efficiency in some cases.
  </p>
  <div *ngFor="let problem of problems" title="{{ problem.notes }}">
    <h2>{{ problem.title }}</h2>
    <p>{{ problem.description }}</p>
    <p style="font-weight: bold;">{{ problem.result }}</p>
    <button type="button" class="btn btn-default" (click)="problem.solveProblemTimed()">Solve</button>
    <p>{{ problem.duration | number:'1.0-0' }} miliseconds</p>
  </div>
</div>
