<div class="container">
  <h1>
    Courtney's Project Euler
  </h1>
  <a href="https://projecteuler.net">https://projecteuler.net</a>
  <div *ngFor="let problem of problems" title="{{ problem.notes }}">
    <h2>{{ problem.title }}</h2>
    <p>{{ problem.description }}</p>
    <p style="font-weight: bold;">{{ problem.result }}</p>
    <button type="button" class="btn btn-default" (click)="problem.solveProblemTimed()">Solve</button>
    <p>{{ problem.duration | number:'1.0-0' }} miliseconds</p>
  </div>
</div>
